USE [master]
GO
/****** Object:  Database [QLPG]    Script Date: 12/14/2022 9:25:11 PM ******/
CREATE DATABASE [QLPG]

GO
USE [QLPG]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDV]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDV]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MADV)
	FROM DICHVU) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MADV, 8))
	FROM DICHVU
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'DV0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'DV000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(10)
AS
BEGIN
	DECLARE @ID VARCHAR(10)
	IF (SELECT COUNT(MAKH)
	FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 8))
	FROM KHACHHANG
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID < 99 THEN 'KH000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'KH00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNV]()
RETURNS VARCHAR(10)
AS
BEGIN
	DECLARE @ID VARCHAR(10)
	IF (SELECT COUNT(MANV)
	FROM NHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANV, 8))
	FROM NHANVIEN
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPDK]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPDK]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MAPDK)
	FROM PHIEUDANGKY) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPDK, 7))
	FROM PHIEUDANGKY
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PDK000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PDK00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPTT]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPTT]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MAPTT)
	FROM PHIEUTHUTIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPTT, 7))
	FROM PHIEUTHUTIEN
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PTT000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PTT00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTP]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTP]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MASP)
	FROM TPBS) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MASP, 8))
	FROM TPBS
	SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'TP0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'TP000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU]
(
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](50) NOT NULL,
	[SONGAYSUDUNG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
	[HIENHANH] [bit] NOT NULL,
	CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INBODY]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INBODY]
(
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[CHIEUCAO] [float] NOT NULL,
	[CANNANG] [float] NOT NULL,
	[TILE_NUOC] [float] NOT NULL,
	[TILE_MO] [float] NOT NULL,
	[KHOILUONG_CO] [float] NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[NGAYGIO] [datetime] NOT NULL,
	CONSTRAINT [PK_INBODY] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG]
(
	[MAKH] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NAMSINH] [char](5) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[NGAYTHAMGIA] [date] NOT NULL,
	[HINHANH] [char](200) NOT NULL,
	CONSTRAINT [PK_kHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuMuaHang]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuMuaHang]
(
	[STT] [int] NOT NULL,
	[MASP] [char](10) NOT NULL,
	[MATCHSUGGEST] [bit] NOT NULL,
	CONSTRAINT [PK_LichSuMuaHang] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUVAOPHONG]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUVAOPHONG]
(
	[STT] [int] NOT NULL,
	[NGAYGIO] [datetime] NOT NULL,
	[MAPDK] [char](10) NOT NULL,
	CONSTRAINT [PK_LICHSUVAOPHONG] PRIMARY KEY CLUSTERED 
(
	[STT] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN]
(
	[MANV] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[CHUCVU] [char](20) NOT NULL,
	CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDANGKY]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDANGKY]
(
	[MAPDK] [char](10) NOT NULL,
	[NGAYDK] [date] NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[TILEKM] [int] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[MANVLAP] [char](10) NOT NULL,
	[MADV] [char](10) NOT NULL,
	[MANVHUY] [char](10) NULL,
	CONSTRAINT [PK_PHIEUDANGKY] PRIMARY KEY CLUSTERED 
(
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN]
(
	[MAPTT] [char](10) NOT NULL,
	[SOTIENTHU] [money] NOT NULL,
	[NGAYTHU] [date] NOT NULL,
	[MAPDK] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MAPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN]
(
	[TENDANGNHAP] [char](10) NOT NULL,
	[MATKHAU] [char](100) NOT NULL,
	[KHOA] [bit] NOT NULL,
	CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPBS]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPBS]
(
	[MASP] [char](10) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](200) NOT NULL,
	[HINHANH] [char](200) NOT NULL,
	CONSTRAINT [PK_TPBS] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MACHINE_LEARNING]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_MACHINE_LEARNING]
AS
	SELECT KH.MAKH, DATEPART(YEAR, GETDATE()) - CONVERT(INT, KH.NAMSINH) AS TUOI, KH.GIOITINH, ROUND
((IBD.CANNANG*10000.0 /
((IBD.CHIEUCAO * IBD.CHIEUCAO))), 1) AS BMI,
		IBD.TILE_MO as TILEMO,
		round((KHOILUONG_CO*1.0/CANNANG)*100,1) as TILECO,
		LS.MASP,
		CONVERT
(date,IBD.NGAYGIO) as NGAY,
		LS.MATCHSUGGEST AS GOIY_THANHCONG
	FROM dbo.KHACHHANG AS KH INNER JOIN
		dbo.INBODY AS IBD ON KH.MAKH = IBD.MAKH INNER JOIN
		dbo.LichSuMuaHang AS LS ON IBD.STT = LS.STT
GO
/****** Object:  View [dbo].[V_GAN_NHAN]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GAN_NHAN]
AS
	SELECT
		MAKH, tuoi, gioitinh, BMI,
		CASE 
		WHEN BMI<16 THEN N'Rất gầy' 
		WHEN BMI<18.5 THEN N'Gầy'	
		WHEN BMI< 25 THEN  N'Normal'	
		WHEN BMI < 30 THEN N'Thừa cân' 
		ELSE N'Rất thừa cân' 
	END as LB_BMI,
		TILE_MO,
		CASE 
		WHEN GIOITINH=N'NAM' THEN 
			CASE 
			WHEN TILE_MO<8 THEN N'Rất thấp'
			WHEN TILE_MO<13 THEN N'Thấp'
			WHEN TILE_MO< 17 THEN N'Normal'
			WHEN TILE_MO < 24 THEN N'Cao'
			else N'Rất cao'
			END
		WHEN GIOITINH=N'NỮ' THEN
			CASE 
			WHEN TILE_MO<13 THEN N'Rất thấp'
			WHEN TILE_MO<20 THEN N'Thấp'
			WHEN TILE_MO< 24 THEN N'Normal'
			WHEN TILE_MO < 31 THEN N'Cao'
			else  N'Rất cao'
			END
	END as LB_TILEMO,
		TILECO,
		CASE 
		WHEN GIOITINH=N'NAM' THEN 
			CASE 
			WHEN TILECO<25 THEN N'Thấp '
			WHEN TILECO<33 THEN N'Normal '
			ELSE N'Cao'
			END
		WHEN GIOITINH=N'NỮ' THEN
			CASE 
			WHEN TILECO<20 THEN N'Thấp '
			WHEN TILECO<28 THEN N'Normal'
			ELSE N'Cao'
			END
	END as LB_TILECO, MASP
	from V_MACHINE_LEARNING

GO
/****** Object:  View [dbo].[V_DICH_VU]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DICH_VU]
AS
	SELECT *
	FROM DICHVU
GO
/****** Object:  View [dbo].[V_KHACHHANG]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHACHHANG]
AS
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, FORMAT (NGAYTHAMGIA, 'dd/MM/yyyy ') as NGAYTHAMGIA, SDT, HINHANH
	FROM KHACHHANG



GO
/****** Object:  View [dbo].[V_LICH_SU_VAO_PHONG]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LICH_SU_VAO_PHONG]
AS
	SELECT STT, KH.MAKH, HOTEN, GIOITINH, FORMAT(NGAYGIO, 'dd/MM/yyyy ') AS NGAYGIO, COUNT(NGAYGIO) AS TONG
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE LS.MAPDK = PDK.MAPDK AND KH.MAKH = PDK.MAKH
	GROUP BY STT, KH.MAKH, HOTEN, GIOITINH, NGAYGIO

GO
/****** Object:  View [dbo].[V_LUOT_RA_VAO]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LUOT_RA_VAO]
AS
	SELECT COUNT(*) AS LUOTRAVAO, DATEPART(HOUR, NGAYGIO) GIO
	FROM LICHSUVAOPHONG
	GROUP BY DATEPART(HOUR, NGAYGIO)
GO
/****** Object:  View [dbo].[V_PHIEUDK]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PHIEUDK]
AS
	SELECT DV.MAPDK, MAKH, HOTEN, SDT, TENDV, FORMAT(NGAYDK, 'dd/MM/yyyy ') AS NGAYDK, FORMAT(NGAYBD, 'dd/MM/yyyy ') AS NGAYBD, FORMAT(NGAYKT, 'dd/MM/yyyy ') AS NGAYKT, TRANGTHAI, TONGTIEN
	FROM (SELECT MAPDK, TENDV, NGAYBD, NGAYDK, NGAYKT, TONGTIEN, TRANGTHAI
		FROM PHIEUDANGKY PDK, DICHVU DV
		WHERE PDK.MADV = DV.MADV) AS DV,
		(SELECT MAPDK, KH.MAKH, HOTEN, SDT
		FROM PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PDK.MAKH = KH.MAKH) AS KH
	WHERE KH.MAPDK = DV.MAPDK

GO
/****** Object:  View [dbo].[V_THUC_PHAM]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_THUC_PHAM]
AS
	SELECT *
	FROM TPBS
GO
/****** Object:  View [dbo].[V_XEM_NHAN_VIEN]    Script Date: 12/14/2022 9:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_XEM_NHAN_VIEN]
AS
	SELECT NV.MANV, HOTEN, SDT, KHOA AS TAIKHOAN,
		(CASE CHUCVU 
	WHEN 'QUANLY' THEN N'Quản lý'
	WHEN 'TIEPTAN' THEN N'Tiếp tân' END) AS CHUCVU
	FROM NHANVIEN NV LEFT JOIN TAIKHOAN TK
		ON NV.MANV = TK.TENDANGNHAP


GO
INSERT [dbo].[DICHVU]
	([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH])
VALUES
	(N'DV00000001', N'Gói tập 15 ngày', 15, 200000.0000, 1)
GO
INSERT [dbo].[DICHVU]
	([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH])
VALUES
	(N'DV00000003', N'Gói tập 1 tháng', 30, 400000.0000, 1)
GO
INSERT [dbo].[DICHVU]
	([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH])
VALUES
	(N'DV00000004', N'Gói tập 3 tháng', 90, 1200000.0000, 1)
GO
SET IDENTITY_INSERT [dbo].[INBODY] ON 
GO
INSERT [dbo].[INBODY]
	([STT], [CHIEUCAO], [CANNANG], [TILE_NUOC], [TILE_MO], [KHOILUONG_CO], [MAKH], [NGAYGIO])
VALUES
	(1, 166, 56, 52, 16.2, 17.8, N'KH00000001', CAST(N'2022-12-06T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[INBODY]
	([STT], [CHIEUCAO], [CANNANG], [TILE_NUOC], [TILE_MO], [KHOILUONG_CO], [MAKH], [NGAYGIO])
VALUES
	(2, 171, 77, 55, 14.9, 23.2, N'KH00000002', CAST(N'2022-11-06T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[INBODY]
	([STT], [CHIEUCAO], [CANNANG], [TILE_NUOC], [TILE_MO], [KHOILUONG_CO], [MAKH], [NGAYGIO])
VALUES
	(3, 172, 70, 57, 21.1, 15.3, N'KH00000003', CAST(N'2022-11-19T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[INBODY] OFF
GO
INSERT [dbo].[KHACHHANG]
	([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH])
VALUES
	(N'KH00000200', N'Nguyễn Thị Yến Vy', N'NAM', N'2006 ', N'012345678 ', CAST(N'2022-11-30' AS Date), N'defaultAvt.jpg                                                                                                                                                                                          ')
GO
INSERT [dbo].[KHACHHANG]
	([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH])
VALUES
	(N'KH00000199', N'Bùi Tuấn Hùng', N'NAM', N'2006 ', N'0123456789', CAST(N'2022-12-09' AS Date), N'https://i.ibb.co/02gCf4f/avt.jpg                                                                                                                                                                        ')
GO
INSERT [dbo].[KHACHHANG]
	([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH])
VALUES
	(N'KH00000198', N'Đỗ Đăng Khoa', N'NỮ', N'2006 ', N'03199399  ', CAST(N'2022-11-21' AS Date), N'defaultAvt.jpg                                                                                                                                                                                          ')
GO
INSERT [dbo].[LichSuMuaHang]
	([STT], [MASP], [MATCHSUGGEST])
VALUES
	(1, N'TP00000006', 1)
GO
INSERT [dbo].[LichSuMuaHang]
	([STT], [MASP], [MATCHSUGGEST])
VALUES
	(2, N'TP00000003', 1)
GO
INSERT [dbo].[LichSuMuaHang]
	([STT], [MASP], [MATCHSUGGEST])
VALUES
	(3, N'TP00000004', 1)
GO
INSERT [dbo].[LICHSUVAOPHONG]
	([STT], [NGAYGIO], [MAPDK])
VALUES
	(599, CAST(N'2022-11-19T07:46:25.000' AS DateTime), N'PDK0000099')
GO
INSERT [dbo].[LICHSUVAOPHONG]
	([STT], [NGAYGIO], [MAPDK])
VALUES
	(598, CAST(N'2022-12-22T14:47:11.000' AS DateTime), N'PDK0000098')
GO
INSERT [dbo].[LICHSUVAOPHONG]
	([STT], [NGAYGIO], [MAPDK])
VALUES
	(597, CAST(N'2022-12-08T09:38:00.000' AS DateTime), N'PDK0000097')
GO
INSERT [dbo].[NHANVIEN]
	([MANV], [HOTEN], [SDT], [CHUCVU])
VALUES
	(N'NV00000001', N'Nguyễn Thị Yến Vy', N'0392395607', N'QUANLY              ')
GO
INSERT [dbo].[NHANVIEN]
	([MANV], [HOTEN], [SDT], [CHUCVU])
VALUES
	(N'NV00000002', N'Vũ Việt Trường', N'0399999900', N'TIEPTAN             ')
GO
INSERT [dbo].[NHANVIEN]
	([MANV], [HOTEN], [SDT], [CHUCVU])
VALUES
	(N'NV00000003', N'Bùi Tuấn Hùng', N'0973343549', N'TIEPTAN             ')
GO
INSERT [dbo].[PHIEUDANGKY]
	([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY])
VALUES
	(N'PDK0000001', CAST(N'2022-12-09' AS Date), CAST(N'2022-12-09' AS Date), CAST(N'2023-06-07' AS Date), 0, 1700000.0000, N'Đã kích hoạt', N'KH00000200', N'NV00000001', N'DV00000003', NULL)
GO
INSERT [dbo].[PHIEUDANGKY]
	([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY])
VALUES
	(N'PDK0000002', CAST(N'2022-12-09' AS Date), CAST(N'2022-12-09' AS Date), CAST(N'2023-06-07' AS Date), 0, 2017949.0000, N'Đã kích hoạt', N'KH00000002', N'NV00000001', N'DV00000003', NULL)
GO
INSERT [dbo].[PHIEUDANGKY]
	([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY])
VALUES
	(N'PDK0000003', CAST(N'2022-12-09' AS Date), CAST(N'2022-12-09' AS Date), CAST(N'2023-06-07' AS Date), 0, 1296169.0000, N'Đã kích hoạt', N'KH00000003', N'NV00000001', N'DV00000003', NULL)
GO
INSERT [dbo].[PHIEUTHUTIEN]
	([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV])
VALUES
	(N'PTT0000001', 1700000.0000, CAST(N'2022-12-09' AS Date), N'PDK0000001', N'NV00000001')
GO
INSERT [dbo].[PHIEUTHUTIEN]
	([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV])
VALUES
	(N'PTT0000002', 2017949.0000, CAST(N'2022-11-26' AS Date), N'PDK0000002', N'NV00000001')
GO
INSERT [dbo].[PHIEUTHUTIEN]
	([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV])
VALUES
	(N'PTT0000003', 1296169.0000, CAST(N'2022-11-19' AS Date), N'PDK0000003', N'NV00000001')
GO
INSERT [dbo].[TAIKHOAN]
	([TENDANGNHAP], [MATKHAU], [KHOA])
VALUES
	(N'NV00000001', N'$2b$10$.aueKIfrxFz5R3H6DwPb3eY6vDsYbYhjKR1Lq0DDUQWi/5Ovw2QBa                                        ', 0)
GO
INSERT [dbo].[TAIKHOAN]
	([TENDANGNHAP], [MATKHAU], [KHOA])
VALUES
	(N'NV00000002', N'$2b$10$702y3AlM7PbhtPIyUpqJxuni8r42xOuRHN6hUuJxp2Vy0bgF76G02                                        ', 0)
GO
INSERT [dbo].[TAIKHOAN]
	([TENDANGNHAP], [MATKHAU], [KHOA])
VALUES
	(N'NV00000003', N'$2b$10$IJvLYUcRnvr18DBMw2960u6ebQLDanZmsNsnN4sY4ipO/ewJy.6f.                                        ', 0)
GO
INSERT [dbo].[TPBS]
	([MASP], [TENSP], [MOTA], [HINHANH])
VALUES
	(N'TP00000001', N'Whey Gold Standard', N' Xu hướng tăng nhiều cơ cho người có khối lượng cơ lớn.', N'defaultAvtTPBS.jpg                                                                                                                                                                                      ')
GO
INSERT [dbo].[TPBS]
	([MASP], [TENSP], [MOTA], [HINHANH])
VALUES
	(N'TP00000002', N'Mass Serious', N'xu hướng tăng cân cho người gầy', N'https://i.ibb.co/nBBm2qN/6.webp                                                                                                                                                                         ')
GO
INSERT [dbo].[TPBS]
	([MASP], [TENSP], [MOTA], [HINHANH])
VALUES
	(N'TP00000003', N'Nutrabolics HydroPure', N'Tăng cân hiệu quả, tăng ít mỡ', N'https://i.ibb.co/C1bXW4J/3.jpg                                                                                                                                                                          ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MAPDK]    Script Date: 12/14/2022 9:25:12 PM ******/
ALTER TABLE [dbo].[PHIEUTHUTIEN] ADD  CONSTRAINT [UK_MAPDK] UNIQUE NONCLUSTERED 
(
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [DF_DICHVU_MADV]  DEFAULT ([dbo].[AUTO_IDDV]()) FOR [MADV]
GO
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [DF_DICHVU_HIENHANH]  DEFAULT ((1)) FOR [HIENHANH]
GO
ALTER TABLE [dbo].[INBODY] ADD  CONSTRAINT [DF_INBODY_NGAYGIO]  DEFAULT (getdate()) FOR [NGAYGIO]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_kHACHHANG_GIOITINH]  DEFAULT (N'Nam') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_NGAYTHAMGIA]  DEFAULT (getdate()) FOR [NGAYTHAMGIA]
GO
ALTER TABLE [dbo].[LichSuMuaHang] ADD  CONSTRAINT [DF_LichSuMuaHang_MATCHSUGGEST]  DEFAULT ((0)) FOR [MATCHSUGGEST]
GO
ALTER TABLE [dbo].[LICHSUVAOPHONG] ADD  CONSTRAINT [DF_LICHSUVAOPHONG_NGAYGIO]  DEFAULT (getdate()) FOR [NGAYGIO]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_MANV]  DEFAULT ([dbo].[AUTO_IDNV]()) FOR [MANV]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_CHUCVU]  DEFAULT ('TIEPTAN') FOR [CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUDANGKY] ADD  CONSTRAINT [DF_PHIEUDANGKY_MAPDK]  DEFAULT ([DBO].[AUTO_IDPDK]()) FOR [MAPDK]
GO
ALTER TABLE [dbo].[PHIEUDANGKY] ADD  CONSTRAINT [DF_PHIEUDANGKY_NGAYDK]  DEFAULT (getdate()) FOR [NGAYDK]
GO
ALTER TABLE [dbo].[PHIEUDANGKY] ADD  CONSTRAINT [DF_PHIEUDANGKY_TILEKM]  DEFAULT ((0)) FOR [TILEKM]
GO
ALTER TABLE [dbo].[PHIEUDANGKY] ADD  CONSTRAINT [DF_PHIEUDANGKY_TRANGTHAI]  DEFAULT (N'Chờ kích hoạt') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] ADD  CONSTRAINT [DF_PHIEUTHUTIEN_MAPTT]  DEFAULT ([dbo].[AUTO_IDPTT]()) FOR [MAPTT]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] ADD  CONSTRAINT [DF_PHIEUTHUTIEN_NGAYTHU]  DEFAULT (getdate()) FOR [NGAYTHU]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_KHOA]  DEFAULT ((0)) FOR [KHOA]
GO
ALTER TABLE [dbo].[TPBS] ADD  CONSTRAINT [DF_TPBS_MASP]  DEFAULT ([dbo].[AUTO_IDTP]()) FOR [MASP]
GO
ALTER TABLE [dbo].[INBODY]  WITH CHECK ADD  CONSTRAINT [FK_INBODY_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[INBODY] CHECK CONSTRAINT [FK_INBODY_KHACHHANG]
GO
ALTER TABLE [dbo].[LichSuMuaHang]  WITH CHECK ADD  CONSTRAINT [FK_LichSuMuaHang_INBODY] FOREIGN KEY([STT])
REFERENCES [dbo].[INBODY] ([STT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LichSuMuaHang] CHECK CONSTRAINT [FK_LichSuMuaHang_INBODY]
GO
ALTER TABLE [dbo].[LichSuMuaHang]  WITH CHECK ADD  CONSTRAINT [FK_LichSuMuaHang_TPBS] FOREIGN KEY([MASP])
REFERENCES [dbo].[TPBS] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LichSuMuaHang] CHECK CONSTRAINT [FK_LichSuMuaHang_TPBS]
GO
ALTER TABLE [dbo].[LICHSUVAOPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUVAOPHONG_PHIEUDANGKY] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUVAOPHONG] CHECK CONSTRAINT [FK_LICHSUVAOPHONG_PHIEUDANGKY]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_DICHVU]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN] FOREIGN KEY([MANVLAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN1] FOREIGN KEY([MANVHUY])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDANGKY1] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDANGKY1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_NAMSINH] CHECK  (((CONVERT([int],[NAMSINH])+(6))<CONVERT([int],datepart(year,getdate()))))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_NAMSINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_CHUCVU] CHECK  (([CHUCVU]='TIEPTAN' OR [CHUCVU]='QUANLY'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_NGAYBD] CHECK  (([NGAYBD]>=[NGAYDK]))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_NGAYBD]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_NGAYKT] CHECK  (([NGAYKT]>[NGAYBD]))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_NGAYKT]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TILEKM] CHECK  (([TILEKM]>=(0) AND [TILEKM]<=(100)))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TILEKM]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TONGTIEN]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Chờ kích hoạt' OR [TRANGTHAI]=N'Đã kích hoạt' OR [TRANGTHAI]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TRANGTHAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_DICH_VU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_DICH_VU]
	@MADV CHAR(10),
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	IF EXISTS (SELECT MAPDK
	FROM PHIEUDANGKY
	WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0
	ELSE 
		UPDATE DICHVU
		SET TENDV = @TENDV, SONGAYSUDUNG = @SONGAYSUDUNG, GIA = @GIA, HIENHANH = @HIENHANH WHERE MADV = @MADV
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_KHACH_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_KHACH_HANG]
	@MAKH CHAR(10),
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		UPDATE KHACHHANG
		SET HOTEN = @HOTEN, GIOITINH = @GIOITINH, NAMSINH = @NAMSINH, SDT = @SDT, HINHANH = @HINHANH
		WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_NHAN_VIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_NHAN_VIEN]
	@MANV CHAR(10),
	@HOTEN NVARCHAR(50),
	@SDT CHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	UPDATE NHANVIEN
	SET HOTEN = @HOTEN, SDT = @SDT, CHUCVU = @CHUCVU
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@TILEKM INT,
	@MADV CHAR(10),
	@TONGTIEN MONEY
AS
BEGIN
	UPDATE PHIEUDANGKY
	SET TILEKM = @TILEKM, MADV = @MADV, TONGTIEN = @TONGTIEN
	WHERE MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_THUC_PHAM]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_THUC_PHAM]
	@MASP CHAR(10),
	@TENSP NVARCHAR(50),
	@MOTA NVARCHAR(200),
	@HINHANH CHAR(200)
AS
UPDATE TPBS
	SET TENSP = @TENSP, MOTA = @MOTA, HINHANH = @HINHANH 
	WHERE MASP = @MASP
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_CHI_TIET_LICH_SU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHI_TIET_LICH_SU]
	@STT INT
AS
BEGIN
	SELECT KH.MAKH, HOTEN, FORMAT(NGAYTHAMGIA, 'dd/MM/yyyy ') AS NGAYTHAMGIA, HINHANH, PDK.MAPDK, TENDV, FORMAT(NGAYKT, 'dd/MM/yyyy ') AS NGAYKT
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH, DICHVU DV
	WHERE LS.MAPDK = PDK.MAPDK AND PDK.MADV = DV.MADV
		AND PDK.MAKH = KH.MAKH AND STT = @STT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_DICH_VU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANG_KY_DICH_VU]
	@TILEKM INT,
	@TONGTIEN MONEY,
	@MAKH CHAR(10),
	@MANVLAP CHAR(10),
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH
	FROM PHIEUDANGKY
	WHERE MAKH = @MAKH AND (TRANGTHAI = N'Chờ kích hoạt' OR TRANGTHAI = N'Đã kích hoạt'))
		RETURN 0
	ELSE
		INSERT INTO PHIEUDANGKY
		(TILEKM, TONGTIEN, MAKH, MANVLAP, MADV)
	VALUES
		(@TILEKM, @TONGTIEN, @MAKH, @MANVLAP, @MADV)
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_PHIEU_DANG_KY]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HUY_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@MANVHUY CHAR(10)
AS
BEGIN
	DECLARE @TRANGTHAI NVARCHAR(20)
	SELECT @TRANGTHAI = TRANGTHAI
	FROM PHIEUDANGKY
	WHERE MAPDK = @MAPDK
	IF @TRANGTHAI = N'Chờ kích hoạt'
		BEGIN
		UPDATE PHIEUDANGKY
			SET TRANGTHAI = N'Đã hủy',
			MANVHUY = @MANVHUY
			WHERE MAPDK = @MAPDK
		RETURN 1
	END
	ELSE 
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LICH_SU_VAO_PHONG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LICH_SU_VAO_PHONG]
AS
DECLARE @TONG INT
SET @TONG = (SELECT COUNT(*)
FROM LICHSUVAOPHONG
WHERE DATEDIFF(DAY, GETDATE(), NGAYGIO) = 0)
SELECT STT, KH.MAKH, HOTEN, GIOITINH, FORMAT(NGAYGIO, 'yyyy/MM/dd HH:MM') AS NGAYGIO, @TONG AS TONG
FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH
WHERE LS.MAPDK = PDK.MAPDK AND KH.MAKH = PDK.MAKH
GO
/****** Object:  StoredProcedure [dbo].[SP_LUOT_RA_VAO]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LUOT_RA_VAO]
	@TUNGAY DATE,
	@DENNGAY DATE
AS
BEGIN
	DECLARE @KG1 INT , @KG2 INT, @KG3 INT, @KG4 INT, @KG5 INT, @KG6 INT, @KG7 INT, @KG8 INT
	IF @TUNGAY = '' AND @DENNGAY = ''
		BEGIN
		SET @KG1 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 5 AND DATEPART(HOUR, NGAYGIO) < 7)
		SET @KG2 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 7 AND DATEPART(HOUR, NGAYGIO) < 9)
		SET @KG3 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 9 AND DATEPART(HOUR, NGAYGIO) < 11)
		SET @KG4 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 11 AND DATEPART(HOUR, NGAYGIO) < 13)
		SET @KG5 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 13 AND DATEPART(HOUR, NGAYGIO) < 15)
		SET @KG6 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 15 AND DATEPART(HOUR, NGAYGIO) < 17)
		SET @KG7 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 17 AND DATEPART(HOUR, NGAYGIO) < 19)
		SET @KG8 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 19 AND DATEPART(HOUR, NGAYGIO) <= 22)
	END
	ELSE IF @TUNGAY != '' AND @DENNGAY != ''
		BEGIN
		SET @KG1 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 5 AND DATEPART(HOUR, NGAYGIO) < 7 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG2 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 7 AND DATEPART(HOUR, NGAYGIO) < 9 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG3 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 9 AND DATEPART(HOUR, NGAYGIO) < 11 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG4 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 11 AND DATEPART(HOUR, NGAYGIO) < 13 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG5 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 13 AND DATEPART(HOUR, NGAYGIO) < 15 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG6 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 15 AND DATEPART(HOUR, NGAYGIO) < 17 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG7 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 17 AND DATEPART(HOUR, NGAYGIO) < 19 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
		SET @KG8 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 19 AND DATEPART(HOUR, NGAYGIO) <= 22 AND NGAYGIO >= @TUNGAY AND NGAYGIO <= @DENNGAY)
	END
	ELSE IF @TUNGAY != ''
		BEGIN
		SET @KG1 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 5 AND DATEPART(HOUR, NGAYGIO) < 7 AND NGAYGIO >= @TUNGAY)
		SET @KG2 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 7 AND DATEPART(HOUR, NGAYGIO) < 9 AND NGAYGIO >= @TUNGAY)
		SET @KG3 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 9 AND DATEPART(HOUR, NGAYGIO) < 11 AND NGAYGIO >= @TUNGAY)
		SET @KG4 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 11 AND DATEPART(HOUR, NGAYGIO) < 13 AND NGAYGIO >= @TUNGAY)
		SET @KG5 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 13 AND DATEPART(HOUR, NGAYGIO) < 15 AND NGAYGIO >= @TUNGAY)
		SET @KG6 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 15 AND DATEPART(HOUR, NGAYGIO) < 17 AND NGAYGIO >= @TUNGAY)
		SET @KG7 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 17 AND DATEPART(HOUR, NGAYGIO) < 19 AND NGAYGIO >= @TUNGAY)
		SET @KG8 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 19 AND DATEPART(HOUR, NGAYGIO) <= 22 AND NGAYGIO >= @TUNGAY)
	END
	ELSE
		BEGIN
		SET @KG1 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 5 AND DATEPART(HOUR, NGAYGIO) < 7 AND NGAYGIO <= @DENNGAY)
		SET @KG2 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 7 AND DATEPART(HOUR, NGAYGIO) < 9 AND NGAYGIO <= @DENNGAY)
		SET @KG3 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 9 AND DATEPART(HOUR, NGAYGIO) < 11 AND NGAYGIO <= @DENNGAY)
		SET @KG4 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 11 AND DATEPART(HOUR, NGAYGIO) < 13 AND NGAYGIO <= @DENNGAY)
		SET @KG5 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 13 AND DATEPART(HOUR, NGAYGIO) < 15 AND NGAYGIO <= @DENNGAY)
		SET @KG6 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 15 AND DATEPART(HOUR, NGAYGIO) < 17 AND NGAYGIO <= @DENNGAY)
		SET @KG7 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 17 AND DATEPART(HOUR, NGAYGIO) < 19 AND NGAYGIO <= @DENNGAY)
		SET @KG8 = (SELECT COUNT(*) AS LUOTRAVAO
		FROM LICHSUVAOPHONG
		WHERE DATEPART(HOUR, NGAYGIO) >= 19 AND DATEPART(HOUR, NGAYGIO) <= 22 AND NGAYGIO <= @DENNGAY)
	END
	SELECT @KG1 AS '5H-7H', @KG2 AS '7H-9H', @KG3 AS '9H-11H', @KG4 AS '11H-13H', @KG5 AS '13H-15H', @KG6 AS '15H-17H', @KG7 AS '17H-19H', @KG8 AS '19H-22H'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DICH_VU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_DICH_VU]
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	INSERT INTO DICHVU
		(TENDV, SONGAYSUDUNG, GIA, HIENHANH)
	VALUES
		(@TENDV, @SONGAYSUDUNG, @GIA, @HIENHANH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_KHACH_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_KHACH_HANG]
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		INSERT INTO KHACHHANG
		(HOTEN, GIOITINH, NAMSINH, SDT, HINHANH)
	VALUES
		(@HOTEN, @GIOITINH, @NAMSINH, @SDT, @HINHANH)
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_LICH_SU_MUA_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_THEM_LICH_SU_MUA_HANG]
	@STT INT,
	@MASP CHAR(10),
	@MATCHSUGGEST BIT
AS
INSERT INTO LichSuMuaHang
VALUES(@STT, @MASP, @MATCHSUGGEST)
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHAN_VIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHAN_VIEN]
	@HOTEN NVARCHAR(50),
	@SDT VARCHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	IF @SDT NOT LIKE '%[^0-9]%' AND LEFT(@SDT, 1) = '0' AND (LEN(@SDT) = 9 OR LEN(@SDT) = 10)
		BEGIN
		IF @CHUCVU = ''
			INSERT INTO NHANVIEN
			(HOTEN, SDT)
		VALUES
			(@HOTEN, @SDT)
		ELSE
			INSERT INTO NHANVIEN
			(HOTEN, SDT, CHUCVU)
		VALUES
			(@HOTEN, @SDT, @CHUCVU)
		RETURN 1
	END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHIEU_THU_TIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHIEU_THU_TIEN]
	@SOTIENTHU MONEY,
	@MAPDK CHAR(10),
	@MANV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK
	FROM PHIEUDANGKY
	WHERE MAPDK = @MAPDK AND TRANGTHAI = N'Đã kích hoạt')
		RETURN 0
	ELSE IF EXISTS (SELECT MAPDK
	FROM PHIEUDANGKY
	WHERE MAPDK = @MAPDK OR TRANGTHAI = N'Đã hủy')
		RETURN 1
	ELSE
		INSERT INTO PHIEUTHUTIEN
		(SOTIENTHU, MAPDK, MANV)
	VALUES
		(@SOTIENTHU, @MAPDK, @MANV)
	RETURN 2
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_THUC_PHAM]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC	[dbo].[SP_THEM_THUC_PHAM]
	@TENSP NVARCHAR(50),
	@MOTA NVARCHAR(200),
	@HINHANH CHAR(200)
AS
INSERT INTO TPBS
	(TENSP, MOTA, HINHANH)
VALUES
	(@TENSP, @MOTA, @HINHANH)
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_DOANH_THU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_DOANH_THU]
	@TUNGAY DATE,
	@DENNGAY DATE
AS
BEGIN
	IF @TUNGAY = '' AND @DENNGAY = ''
	BEGIN
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU) TONGDOANHTHU
		FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH
		GROUP BY KH.MAKH, HOTEN, SDT
	END
	ELSE IF @TUNGAY != '' AND @DENNGAY != ''
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU) TONGDOANHTHU
	FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU >= @TUNGAY AND NGAYTHU <= @DENNGAY
	GROUP BY KH.MAKH, HOTEN, SDT
	ELSE IF @TUNGAY != ''
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU) TONGDOANHTHU
	FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU >= @TUNGAY
	GROUP BY KH.MAKH, HOTEN, SDT 
	ELSE
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU) TONGDOANHTHU
	FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU <= @DENNGAY
	GROUP BY KH.MAKH, HOTEN, SDT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_KH]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_KH]
	@TUNGAY DATE,
	@DENNGAY DATE
AS
BEGIN
	DECLARE @TONGKHCU INT, @TONGKHMOI INT, @TONGKH INT, @TUOI1 INT, @TUOI2 INT, @TUOI3 INT, @TUOI4 INT, @TUOI5 INT, @TUOI6 INT, @TUOI7 INT, @TUOI8 INT, @NAM int, @NU int, @TEMP INT, @TEMP1 INT
	IF @TUNGAY = '' AND @DENNGAY = ''
		BEGIN
		SET @TONGKH = (SELECT COUNT(*)
		FROM KHACHHANG)
		SET @TONGKHCU = (SELECT COUNT(KHCU.TONGKHCU)
		FROM (SELECT COUNT(DISTINCT(KH.MAKH)) AS TONGKHCU
			FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
			WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH
			GROUP BY KH.MAKH
			HAVING COUNT(KH.MAKH) >= 2) AS KHCU)
		SET @TUOI1 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 14)
		SET @TUOI2 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 15 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 19)
		SET @TUOI3 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 20 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 24)
		SET @TUOI4 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 25 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 29)
		SET @TUOI5 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 30 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 39)
		SET @TUOI6 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 40 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 49)
		SET @TUOI7 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 50 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 69)
		SET @TUOI8 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 70)
		SET @NAM = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE GIOITINH = N'Nam')
		SET @NU = @TONGKH - @NAM
		SET @TONGKHMOI = @TONGKH
	END
	ELSE IF @TUNGAY != '' AND @DENNGAY != ''
		BEGIN
		SET @TONGKH = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA <= @DENNGAY)
		SET @TEMP = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA >= @TUNGAY AND NGAYTHAMGIA <= @DENNGAY)
		SET @TEMP1 = (SELECT COUNT(KHMOI.TONGKHMOI)
		FROM (SELECT COUNT(DISTINCT(KH.MAKH)) AS TONGKHMOI
			FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
			WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHAMGIA >= @TUNGAY AND NGAYTHAMGIA <= @DENNGAY
			GROUP BY KH.MAKH
			HAVING COUNT(KH.MAKH) < 2) AS KHMOI)
		SET @TUOI1 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 14 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI2 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 15 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 19 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI3 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 20 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 24 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI4 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 25 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 29 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI5 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 30 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 39 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI6 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 40 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 49 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI7 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 50 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 69 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI8 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 70 AND NGAYTHAMGIA <= @DENNGAY)
		SET @NAM = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE GIOITINH = N'Nam' AND NGAYTHAMGIA <= @DENNGAY)
		SET @NU = @TONGKH - @NAM
		SET @TONGKHMOI = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA >= @TUNGAY AND NGAYTHAMGIA <= @DENNGAY)
	END
	ELSE IF @TUNGAY != ''
		BEGIN
		SET @TONGKH = (SELECT COUNT(*)
		FROM KHACHHANG)
		SET @TEMP = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA >= @TUNGAY)
		SET @TEMP1 = (SELECT COUNT(KHMOI.TONGKHMOI)
		FROM (SELECT COUNT(DISTINCT(KH.MAKH)) AS TONGKHMOI
			FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
			WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHAMGIA >= @TUNGAY
			GROUP BY KH.MAKH
			HAVING COUNT(KH.MAKH) < 2) AS KHMOI)
		SET @TUOI1 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 14)
		SET @TUOI2 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 15 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 19)
		SET @TUOI3 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 20 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 24)
		SET @TUOI4 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 25 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 29)
		SET @TUOI5 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 30 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 39)
		SET @TUOI6 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 40 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 49)
		SET @TUOI7 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 50 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 69)
		SET @TUOI8 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 70)
		SET @NAM = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE GIOITINH = N'Nam')
		SET @NU = @TONGKH - @NAM
		SET @TONGKHMOI =(SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA >= @TUNGAY)
	END
	ELSE
		BEGIN
		SET @TONGKH = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA <= @DENNGAY)
		SET @TEMP = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA <= @DENNGAY)
		SET @TEMP1 = (SELECT COUNT(KHMOI.TONGKHMOI)
		FROM (SELECT COUNT(DISTINCT(KH.MAKH)) AS TONGKHMOI
			FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
			WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHAMGIA <= @DENNGAY
			GROUP BY KH.MAKH
			HAVING COUNT(KH.MAKH) < 2) AS KHMOI)
		SET @TUOI1 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 14 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI2 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 15 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 19 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI3 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 20 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 24 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI4 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 25 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 29 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI5 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 30 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 39 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI6 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 40 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 49 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI7 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 50 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 69 AND NGAYTHAMGIA <= @DENNGAY)
		SET @TUOI8 = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) >= 70)
		SET @NAM = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE GIOITINH = N'Nam' AND NGAYTHAMGIA <= @DENNGAY)
		SET @NU = @TONGKH - @NAM
		SET @TONGKHMOI = (SELECT COUNT(*)
		FROM KHACHHANG
		WHERE NGAYTHAMGIA <= @DENNGAY)
	END
	SELECT @TONGKH AS TONGKH, @TONGKHMOI AS TONGKHMOI,
		@TUOI1 AS '<= 14', @TUOI2 AS '15-19', @TUOI3 AS '20-24', @TUOI4 AS '25-29', @TUOI5 AS '30-39', @TUOI6 AS '40-49', @TUOI7 AS '50-69', @TUOI8 AS '70+', @NAM AS NAM, @NU AS NU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_DICH_VU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_DICH_VU]
	@KEY NVARCHAR(20)
AS
BEGIN
	SELECT *
	FROM DICHVU
	WHERE TENDV LIKE '%' + @KEY + '%' OR MADV LIKE '%' + @KEY + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_KHACH_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_KHACH_HANG]
	@KEY NVARCHAR(20)
AS
BEGIN
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, SDT, FORMAT (NGAYTHAMGIA, 'dd/MM/yyyy ') as NGAYTHAMGIA, HINHANH
	FROM KHACHHANG
	WHERE HOTEN LIKE '%' + @KEY + '%' OR SDT LIKE '%' + @KEY + '%' OR MAKH LIKE '%' + @KEY + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_LICH_SU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_LICH_SU]
	@KEY NVARCHAR(20)
AS
BEGIN
	DECLARE @TONG INT
	SET @TONG = (SELECT COUNT(*)
	FROM LICHSUVAOPHONG
	WHERE DATEDIFF(DAY, GETDATE(), NGAYGIO) = 0)
	SELECT STT, KH.MAKH, HOTEN, GIOITINH, FORMAT(NGAYGIO, 'yyyy/MM/dd HH:MM') AS NGAYGIO, @TONG AS TONG
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE LS.MAPDK = PDK.MAPDK AND KH.MAKH = PDK.MAKH AND (HOTEN LIKE '%' + @KEY + '%' OR KH.MAKH LIKE '%' + @KEY + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_LSMH]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_TIM_KIEM_LSMH]
	@KEY NVARCHAR(20)
AS
SELECT *
FROM V_LICH_SU_MUA_HANG
WHERE MAKH LIKE '%' + @KEY + '%' OR STT LIKE '%' + @KEY + '%'
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_NHAN_VIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_NHAN_VIEN]
	@KEY NVARCHAR(20)
AS
BEGIN
	SELECT *
	FROM V_XEM_NHAN_VIEN
	WHERE HOTEN LIKE '%' + @KEY + '%' OR MANV LIKE '%' + @KEY + '%' OR SDT LIKE '%' + @KEY + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]
	@KEY NVARCHAR(20)
AS
BEGIN
	set @KEY =  '%'+@KEY + '%';
	SELECT *
	from V_PHIEUDK
	where MAPDK like @KEY or HOTEN like @KEY OR SDT like @KEY OR MAKH like @KEY OR TRANGTHAI LIKE @KEY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_THUC_PHAM]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_THUC_PHAM]
	@KEY NVARCHAR(20)
AS
BEGIN
	SELECT *
	FROM V_THUC_PHAM
	WHERE TENSP LIKE '%' + @KEY + '%' OR MASP LIKE '%' + @KEY + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_KHACH_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT *
	FROM KHACHHANG
	WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_DANG_KY]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_DANG_KY]
	@MAPDK CHAR(10)
AS
BEGIN
	SELECT MAPDK, HOTEN, HINHANH
	FROM KHACHHANG KH, PHIEUDANGKY PDK
	WHERE KH.MAKH = PDK.MAKH AND PDK.MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_THU_TIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_THU_TIEN]
	@MAPDK CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPTT
	FROM PHIEUTHUTIEN
	WHERE MAPDK = @MAPDK)
		BEGIN
		SELECT MAPTT, FORMAT (NGAYTHU, 'dd/MM/yyyy ') AS NGAYTHU, HOTENKH, HOTENNV, MAPDK = @MAPDK, TENDV, SOTIENTHU
		FROM (SELECT MAPTT, SOTIENTHU, NGAYTHU, NV.HOTEN AS HOTENNV, MAPDK
			FROM PHIEUTHUTIEN PTT, NHANVIEN NV
			WHERE MAPDK = @MAPDK AND PTT.MANV = NV.MANV) PTT,
			(SELECT TENDV, MAPDK
			FROM DICHVU DV, PHIEUDANGKY PDK
			WHERE PDK.MADV = DV.MADV) DV,
			(SELECT HOTEN AS HOTENKH, MAPDK
			FROM PHIEUDANGKY PDK, KHACHHANG KH
			WHERE KH.MAKH = PDK.MAKH) KH
		WHERE PTT.MAPDK = DV.MAPDK AND PTT.MAPDK = KH.MAPDK
		RETURN 1
	END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DICH_VU]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DICH_VU]
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK
	FROM PHIEUDANGKY
	WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0 
	ELSE
		IF EXISTS (SELECT MAPDK
	FROM PHIEUDANGKY
	WHERE MADV = @MADV AND TRANGTHAI = N'Đã hủy')
			BEGIN
		UPDATE DICHVU
				SET HIENHANH = 0 WHERE MADV = @MADV
		RETURN 1
	END
		ELSE
			DELETE DICHVU WHERE MADV = @MADV
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KHACH_HANG]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH
	FROM PHIEUDANGKY
	WHERE MAKH = @MAKH)
		RETURN 0
	ELSE
		DELETE KHACHHANG
		WHERE MAKH = @MAKH
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHAN_VIEN]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_NHAN_VIEN]
	@MANV CHAR(10)
AS
BEGIN
	IF (SELECT COUNT(MAPDK)
		FROM PHIEUDANGKY
		WHERE MANVLAP = @MANV OR MANVHUY = @MANV) > 0
		OR (SELECT COUNT(MAPTT)
		FROM PHIEUTHUTIEN
		WHERE MANV = @MANV) > 0
		BEGIN
		UPDATE TAIKHOAN
			SET KHOA = 1
			WHERE TENDANGNHAP = @MANV
		RETURN 1
	END
	ELSE
		IF(SELECT COUNT(TENDANGNHAP)
	FROM TAIKHOAN) > 0
			BEGIN
		DELETE TAIKHOAN WHERE TENDANGNHAP = @MANV
		DELETE NHANVIEN
				WHERE MANV = @MANV
		RETURN 2
	END
		ELSE
			DELETE NHANVIEN
			WHERE MANV = @MANV
	RETURN 2
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_THUC_PHAM]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_THUC_PHAM]
	@MASP CHAR(10)
AS
DELETE TPBS WHERE MASP = @MASP
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[XEM_CHI_SO_INBODY]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_CHI_SO_INBODY]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT IBD.STT, KH.MAKH, HOTEN, GIOITINH, DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) AS TUOI,
		FORMAT(NGAYGIO, 'yyyy-MM-dd hh:mm tt') AS NGAYGIO, CHIEUCAO, CANNANG, TILE_NUOC, TILE_MO, KHOILUONG_CO, CAST((CANNANG / ((CHIEUCAO*CHIEUCAO) / (100*100))) as float) as BMI
	FROM KHACHHANG KH, INBODY IBD
	WHERE KH.MAKH = @MAKH AND KH.MAKH = IBD.MAKH
END
GO
/****** Object:  Trigger [dbo].[UPDATE_STATE]    Script Date: 12/14/2022 9:25:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[UPDATE_STATE] ON [dbo].[PHIEUTHUTIEN] AFTER INSERT
AS
BEGIN
	DECLARE @NGAYBD DATE
	SET @NGAYBD = (SELECT NGAYTHU
	FROM inserted)
	UPDATE PHIEUDANGKY
	SET TRANGTHAI = N'Đã kích hoạt',
	NGAYBD = @NGAYBD,
	NGAYKT = (SELECT DATEADD(DAY, SONGAYSUDUNG, @NGAYBD)
	FROM DICHVU DV, PHIEUDANGKY PDK, inserted
	WHERE PDK.MAPDK = inserted.MAPDK AND PDK.MADV = DV.MADV)
	WHERE MAPDK = (SELECT MAPDK
	FROM inserted)
END
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] ENABLE TRIGGER [UPDATE_STATE]
GO
USE [master]
GO
