USE [QLPG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_DICH_VU]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_DICH_VU]
	@MADV CHAR(10),
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0
	ELSE 
		UPDATE DICHVU
		SET TENDV = @TENDV, SONGAYSUDUNG = @SONGAYSUDUNG, GIA = @GIA, HIENHANH = @HIENHANH WHERE MADV = @MADV
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_KHACH_HANG]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_KHACH_HANG]
	@MAKH CHAR(10),
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		UPDATE KHACHHANG
		SET HOTEN = @HOTEN, GIOITINH = @GIOITINH, NAMSINH = @NAMSINH, SDT = @SDT, HINHANH = @HINHANH
		WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_NHAN_VIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_NHAN_VIEN]
	@MANV CHAR(10),
	@HOTEN NVARCHAR(50),
	@SDT CHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	UPDATE NHANVIEN
	SET HOTEN = @HOTEN, SDT = @SDT, CHUCVU = @CHUCVU
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@TILEKM INT,
	@MADV CHAR(10),
	@TONGTIEN MONEY
AS
BEGIN
	UPDATE PHIEUDANGKY
	SET TILEKM = @TILEKM, MADV = @MADV, TONGTIEN = @TONGTIEN
	WHERE MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_DICH_VU]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANG_KY_DICH_VU]
	@TILEKM INT,
	@TONGTIEN MONEY,
	@MAKH CHAR(10),
	@MANVLAP CHAR(10),
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH FROM PHIEUDANGKY WHERE MAKH = @MAKH AND (TRANGTHAI = N'Chờ kích hoạt' OR TRANGTHAI = N'Đã kích hoạt'))
		RETURN 0
	ELSE
		INSERT INTO PHIEUDANGKY (TILEKM, TONGTIEN, MAKH, MANVLAP, MADV)
		VALUES (@TILEKM, @TONGTIEN, @MAKH, @MANVLAP, @MADV)
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_PHIEU_DANG_KY]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HUY_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@MANVHUY CHAR(10)
AS
BEGIN
	DECLARE @TRANGTHAI NVARCHAR(20)
	SELECT @TRANGTHAI = TRANGTHAI FROM PHIEUDANGKY WHERE MAPDK = @MAPDK
	IF @TRANGTHAI = N'Chờ kích hoạt'
		BEGIN
			UPDATE PHIEUDANGKY
			SET TRANGTHAI = N'Đã hủy',
			MANVHUY = @MANVHUY
			WHERE MAPDK = @MAPDK
			RETURN 1
		END
	ELSE 
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DICH_VU]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_DICH_VU]
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	INSERT INTO DICHVU (TENDV, SONGAYSUDUNG, GIA, HIENHANH)
	VALUES (@TENDV, @SONGAYSUDUNG, @GIA, @HIENHANH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_KHACH_HANG]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_KHACH_HANG]
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		INSERT INTO KHACHHANG (HOTEN, GIOITINH, NAMSINH, SDT, HINHANH)
		VALUES (@HOTEN, @GIOITINH, @NAMSINH, @SDT, @HINHANH)
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHAN_VIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHAN_VIEN]
	@HOTEN NVARCHAR(50),
	@SDT VARCHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	IF @SDT NOT LIKE '%[^0-9]%' AND LEFT(@SDT, 1) = '0' AND (LEN(@SDT) = 9 OR LEN(@SDT) = 10)
		BEGIN
		IF @CHUCVU = ''
			INSERT INTO NHANVIEN (HOTEN, SDT)
			VALUES (@HOTEN, @SDT)
		ELSE
			INSERT INTO NHANVIEN (HOTEN, SDT, CHUCVU)
			VALUES (@HOTEN, @SDT, @CHUCVU)
		RETURN 1
		END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHIEU_THU_TIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHIEU_THU_TIEN]
	@SOTIENTHU MONEY,
	@MAPDK CHAR(10),
	@MANV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MAPDK = @MAPDK AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Đã hủy'))
		RETURN 0
	ELSE
		INSERT INTO PHIEUTHUTIEN (SOTIENTHU, MAPDK, MANV)
		VALUES (@SOTIENTHU, @MAPDK, @MANV)
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_DICH_VU]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_DICH_VU]
	@TENDV NVARCHAR(50)
AS
BEGIN
	SELECT * FROM DICHVU WHERE TENDV LIKE '%' + @TENDV + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_KHACH_HANG]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_KHACH_HANG]
	@HOTEN NVARCHAR(50) 
AS
BEGIN
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, NGAYTHAMGIA FROM KHACHHANG WHERE HOTEN LIKE '%' + @HOTEN + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_NHAN_VIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_NHAN_VIEN]
	@HOTEN NVARCHAR(50) 
AS
BEGIN
	SELECT NV.MANV, NV.HOTEN, NV.SDT, NV.CHUCVU, TK.KHOA AS TAIKHOAN
	FROM     dbo.NHANVIEN AS NV LEFT OUTER JOIN
                  dbo.TAIKHOAN AS TK ON NV.MANV = TK.TENDANGNHAP WHERE HOTEN LIKE '%' + @HOTEN + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]
	@MAPDK CHAR(10)
AS
BEGIN
	SELECT DV.MAPDK, KH.MAKH, KH.HOTEN, KH.SDT, DV.TENDV, DV.NGAYDK, DV.NGAYBD, DV.NGAYKT, DV.TRANGTHAI, DV.TONGTIEN
	FROM (SELECT PDK.MAPDK, DV.TENDV, PDK.NGAYBD, PDK.NGAYDK, PDK.NGAYKT, PDK.TONGTIEN, PDK.TRANGTHAI
           FROM dbo.PHIEUDANGKY AS PDK INNER JOIN dbo.DICHVU AS DV ON PDK.MADV = DV.MADV) AS DV INNER JOIN
           (SELECT PDK.MAPDK, KH.MAKH, KH.HOTEN, KH.SDT FROM dbo.PHIEUDANGKY AS PDK INNER JOIN
           dbo.KHACHHANG AS KH ON PDK.MAKH = KH.MAKH) AS KH ON DV.MAPDK = KH.MAPDK 
		   WHERE DV.MAPDK LIKE N'%'+@MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_KHACH_HANG]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT * FROM KHACHHANG WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_DANG_KY]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_DANG_KY]
	@MAPDK CHAR(10)
AS
BEGIN
	SELECT MAPDK, HOTEN, HINHANH FROM KHACHHANG KH, PHIEUDANGKY PDK WHERE KH.MAKH = PDK.MAKH AND PDK.MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_THU_TIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_THU_TIEN]
	@MAPDK CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPTT FROM PHIEUTHUTIEN WHERE MAPDK = @MAPDK)
		BEGIN
			SELECT MAPTT, NGAYTHU, HOTENKH, HOTENNV, MAPDK = @MAPDK, TENDV, SOTIENTHU
			FROM (SELECT MAPTT, SOTIENTHU, NGAYTHU, NV.HOTEN AS HOTENNV, MAPDK FROM PHIEUTHUTIEN PTT, NHANVIEN NV 
				WHERE MAPDK = @MAPDK AND PTT.MANV = NV.MANV) PTT,
				(SELECT TENDV, MAPDK FROM DICHVU DV, PHIEUDANGKY PDK WHERE PDK.MADV = DV.MADV) DV,
				(SELECT HOTEN AS HOTENKH, MAPDK FROM PHIEUDANGKY PDK, KHACHHANG KH WHERE KH.MAKH = PDK.MAKH) KH
				WHERE PTT.MAPDK = DV.MAPDK AND PTT.MAPDK = KH.MAPDK
			RETURN 1
		END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DICH_VU]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DICH_VU]
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0 
	ELSE
		IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND TRANGTHAI = N'Đã hủy')
			BEGIN
				UPDATE DICHVU
				SET HIENHANH = 0 WHERE MADV = @MADV
				RETURN 1
			END
		ELSE
			DELETE DICHVU WHERE MADV = @MADV
			RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KHACH_HANG]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH FROM PHIEUDANGKY WHERE MAKH = @MAKH)
		RAISERROR(N'Có dữ liệu đăng ký dịch vụ từ khách hàng. Không thể xóa !!!', 16, 1)
	ELSE
		DELETE KHACHHANG
		WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHAN_VIEN]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_NHAN_VIEN]
	@MANV CHAR(10)
AS
BEGIN
	IF (SELECT COUNT(MAPDK) FROM PHIEUDANGKY WHERE MANVLAP = @MANV OR MANVHUY = @MANV) > 0 
	OR (SELECT COUNT(MAPTT) FROM PHIEUTHUTIEN WHERE MANV = @MANV) > 0
		UPDATE TAIKHOAN
		SET KHOA = 1
		WHERE TENDANGNHAP = @MANV
	ELSE
		DELETE TAIKHOAN
		WHERE TENDANGNHAP = @MANV

		DELETE NHANVIEN
		WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[XEM_CHI_SO_INBODY]    Script Date: 11/26/2022 10:42:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_CHI_SO_INBODY]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT KH.MAKH, HOTEN, GIOITINH, DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) AS TUOI,
	NGAYGIO, CHIEUCAO, CANNANG, TILE_NUOC, TILE_MO, KHOILUONG_CO, CAST((CANNANG / ((CHIEUCAO*CHIEUCAO) / (100*100))) as float) as BMI FROM KHACHHANG KH, INBODY IBD
	WHERE KH.MAKH = @MAKH AND KH.MAKH = IBD.MAKH
END
GO
