USE [QLPG]
GO
/****** Object:  View [dbo].[V_DICH_VU]    Script Date: 11/22/2022 7:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DICH_VU]
AS
	SELECT * FROM DICHVU
GO
/****** Object:  View [dbo].[V_KHACHHANG]    Script Date: 11/22/2022 7:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHACHHANG]
AS
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, NGAYTHAMGIA, HINHANH FROM KHACHHANG

GO
/****** Object:  View [dbo].[V_PHIEUDK]    Script Date: 11/22/2022 7:42:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PHIEUDK]
AS
	SELECT DV.MAPDK, MAKH, HOTEN, SDT, TENDV, NGAYDK, NGAYBD, NGAYKT, TRANGTHAI, TONGTIEN 
		FROM (SELECT MAPDK, TENDV, NGAYBD, NGAYDK, NGAYKT, TONGTIEN, TRANGTHAI FROM PHIEUDANGKY PDK, DICHVU DV WHERE PDK.MADV = DV.MADV) AS DV,
			(SELECT MAPDK, KH.MAKH, HOTEN, SDT FROM PHIEUDANGKY PDK, KHACHHANG KH WHERE PDK.MAKH = KH.MAKH) AS KH WHERE KH.MAPDK = DV.MAPDK
GO
