USE [QLPG]
GO
/****** Object:  View [dbo].[V_DICH_VU]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DICH_VU]
AS
	SELECT * FROM DICHVU
GO
/****** Object:  View [dbo].[V_KHACHHANG]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHACHHANG]
AS
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, FORMAT (NGAYTHAMGIA, 'dd/MM/yyyy ') as NGAYTHAMGIA, SDT, HINHANH FROM KHACHHANG



GO
/****** Object:  View [dbo].[V_LICH_SU_MUA_HANG]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LICH_SU_MUA_HANG]
AS
	SELECT IBD.STT, MAKH, MASP, MATCHSUGGEST FROM LichSuMuaHang LS, INBODY IBD WHERE LS.STT = IBD.STT
GO
/****** Object:  View [dbo].[V_LICH_SU_VAO_PHONG]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LICH_SU_VAO_PHONG]
AS
	SELECT STT, KH.MAKH, HOTEN, GIOITINH, FORMAT(NGAYGIO, 'dd/MM/yyyy ') AS NGAYGIO, COUNT(NGAYGIO) AS TONG
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE LS.MAPDK = PDK.MAPDK AND KH.MAKH = PDK.MAKH
	GROUP BY STT, KH.MAKH, HOTEN, GIOITINH, NGAYGIO

GO
/****** Object:  View [dbo].[V_LUOT_RA_VAO]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LUOT_RA_VAO]
AS
	SELECT COUNT(*) AS LUOTRAVAO, DATEPART(HOUR, NGAYGIO) GIO FROM LICHSUVAOPHONG GROUP BY DATEPART(HOUR, NGAYGIO)
GO
/****** Object:  View [dbo].[V_PHIEUDK]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PHIEUDK]
AS
	SELECT DV.MAPDK, MAKH, HOTEN, SDT, TENDV, FORMAT(NGAYDK, 'dd/MM/yyyy ') AS NGAYDK, FORMAT(NGAYBD, 'dd/MM/yyyy ') AS NGAYBD, FORMAT(NGAYKT, 'dd/MM/yyyy ') AS NGAYKT, TRANGTHAI, TONGTIEN 
		FROM (SELECT MAPDK, TENDV, NGAYBD, NGAYDK, NGAYKT, TONGTIEN, TRANGTHAI FROM PHIEUDANGKY PDK, DICHVU DV WHERE PDK.MADV = DV.MADV) AS DV,
			(SELECT MAPDK, KH.MAKH, HOTEN, SDT FROM PHIEUDANGKY PDK, KHACHHANG KH WHERE PDK.MAKH = KH.MAKH) AS KH WHERE KH.MAPDK = DV.MAPDK

GO
/****** Object:  View [dbo].[V_THUC_PHAM]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_THUC_PHAM]
AS
	SELECT * FROM TPBS
GO
/****** Object:  View [dbo].[V_XEM_NHAN_VIEN]    Script Date: 12/8/2022 3:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_XEM_NHAN_VIEN]
AS
	SELECT NV.MANV, HOTEN, SDT, KHOA AS TAIKHOAN,
	(CASE CHUCVU 
	WHEN 'QUANLY' THEN N'Quản lý'
	WHEN 'TIEPTAN' THEN N'Tiếp tân' END) AS CHUCVU
	FROM NHANVIEN NV LEFT JOIN TAIKHOAN TK
	ON NV.MANV = TK.TENDANGNHAP


GO
