USE [master]
GO
/****** Object:  Database [QLPG]    Script Date: 11/27/2022 3:20:54 PM ******/
CREATE DATABASE [QLPG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLPG.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLPG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLPG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPG]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDV]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDV]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MADV) FROM DICHVU) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MADV, 8)) FROM DICHVU
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'DV0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'DV000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 8)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNV]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNV]()
RETURNS VARCHAR(10)
AS
BEGIN
	DECLARE @ID VARCHAR(10)
	IF (SELECT COUNT(MANV) FROM NHANVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANV, 8)) FROM NHANVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV0000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPDK]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPDK]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MAPDK) FROM PHIEUDANGKY) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPDK, 7)) FROM PHIEUDANGKY
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PDK000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PDK00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPTT]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPTT]()
RETURNS NCHAR(10)
AS
BEGIN
	DECLARE @ID NCHAR(10)
	IF (SELECT COUNT(MAPTT) FROM PHIEUTHUTIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAPTT, 7)) FROM PHIEUTHUTIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PTT000000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PTT00000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL CONSTRAINT [DF_DICHVU_MADV]  DEFAULT ([dbo].[AUTO_IDDV]()),
	[TENDV] [nvarchar](50) NOT NULL,
	[SONGAYSUDUNG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
	[HIENHANH] [bit] NOT NULL CONSTRAINT [DF_DICHVU_HIENHANH]  DEFAULT ((1)),
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INBODY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INBODY](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[CHIEUCAO] [float] NOT NULL,
	[CANNANG] [float] NOT NULL,
	[TILE_NUOC] [float] NOT NULL,
	[TILE_MO] [float] NOT NULL,
	[KHOILUONG_CO] [float] NOT NULL,
	[MAKH] [char](10) NOT NULL,
	[NGAYGIO] [datetime] NOT NULL CONSTRAINT [DF_INBODY_NGAYGIO]  DEFAULT (getdate()),
 CONSTRAINT [PK_INBODY] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL CONSTRAINT [DF_KHACHHANG_MAKH]  DEFAULT ([dbo].[AUTO_IDKH]()),
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL CONSTRAINT [DF_kHACHHANG_GIOITINH]  DEFAULT (N'Nam'),
	[NAMSINH] [char](5) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[NGAYTHAMGIA] [date] NOT NULL CONSTRAINT [DF_KHACHHANG_NGAYTHAMGIA]  DEFAULT (getdate()),
	[HINHANH] [char](200) NOT NULL,
 CONSTRAINT [PK_kHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHSUVAOPHONG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUVAOPHONG](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYGIO] [datetime] NOT NULL CONSTRAINT [DF_LICHSUVAOPHONG_NGAYGIO]  DEFAULT (getdate()),
	[MAPDK] [char](10) NOT NULL,
 CONSTRAINT [PK_LICHSUVAOPHONG] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL CONSTRAINT [DF_NHANVIEN_MANV]  DEFAULT ([dbo].[AUTO_IDNV]()),
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[CHUCVU] [char](20) NOT NULL CONSTRAINT [DF_NHANVIEN_CHUCVU]  DEFAULT ('TIEPTAN'),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDANGKY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDANGKY](
	[MAPDK] [char](10) NOT NULL CONSTRAINT [DF_PHIEUDANGKY_MAPDK]  DEFAULT ([DBO].[AUTO_IDPDK]()),
	[NGAYDK] [date] NOT NULL CONSTRAINT [DF_PHIEUDANGKY_NGAYDK]  DEFAULT (getdate()),
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[TILEKM] [int] NOT NULL CONSTRAINT [DF_PHIEUDANGKY_TILEKM]  DEFAULT ((0)),
	[TONGTIEN] [money] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL CONSTRAINT [DF_PHIEUDANGKY_TRANGTHAI]  DEFAULT (N'Chờ kích hoạt'),
	[MAKH] [char](10) NOT NULL,
	[MANVLAP] [char](10) NOT NULL,
	[MADV] [char](10) NOT NULL,
	[MANVHUY] [char](10) NULL,
 CONSTRAINT [PK_PHIEUDANGKY] PRIMARY KEY CLUSTERED 
(
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MAPTT] [char](10) NOT NULL CONSTRAINT [DF_PHIEUTHUTIEN_MAPTT]  DEFAULT ([dbo].[AUTO_IDPTT]()),
	[SOTIENTHU] [money] NOT NULL,
	[NGAYTHU] [date] NOT NULL CONSTRAINT [DF_PHIEUTHUTIEN_NGAYTHU]  DEFAULT (getdate()),
	[MAPDK] [char](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MAPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [char](10) NOT NULL,
	[MATKHAU] [char](10) NOT NULL,
	[KHOA] [bit] NOT NULL CONSTRAINT [DF_TAIKHOAN_KHOA]  DEFAULT ((0)),
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[V_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DICH_VU]
AS
	SELECT * FROM DICHVU
GO
/****** Object:  View [dbo].[V_KHACHHANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHACHHANG]
AS
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, NGAYTHAMGIA, SDT, HINHANH FROM KHACHHANG


GO
/****** Object:  View [dbo].[V_LICH_SU_VAO_PHONG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LICH_SU_VAO_PHONG]
AS
	SELECT STT, KH.MAKH, HOTEN, GIOITINH, NGAYGIO, COUNT(NGAYGIO) AS TONG
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH
	WHERE LS.MAPDK = PDK.MAPDK AND KH.MAKH = PDK.MAKH
	GROUP BY STT, KH.MAKH, HOTEN, GIOITINH, NGAYGIO
GO
/****** Object:  View [dbo].[V_LUOT_RA_VAO]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LUOT_RA_VAO]
AS
	SELECT COUNT(*) AS LUOTRAVAO, DATEPART(HOUR, NGAYGIO) GIO FROM LICHSUVAOPHONG GROUP BY DATEPART(HOUR, NGAYGIO)
GO
/****** Object:  View [dbo].[V_PHIEUDK]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PHIEUDK]
AS
	SELECT DV.MAPDK, MAKH, HOTEN, SDT, TENDV, NGAYDK, NGAYBD, NGAYKT, TRANGTHAI, TONGTIEN 
		FROM (SELECT MAPDK, TENDV, NGAYBD, NGAYDK, NGAYKT, TONGTIEN, TRANGTHAI FROM PHIEUDANGKY PDK, DICHVU DV WHERE PDK.MADV = DV.MADV) AS DV,
			(SELECT MAPDK, KH.MAKH, HOTEN, SDT FROM PHIEUDANGKY PDK, KHACHHANG KH WHERE PDK.MAKH = KH.MAKH) AS KH WHERE KH.MAPDK = DV.MAPDK
GO
/****** Object:  View [dbo].[V_XEM_NHAN_VIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_XEM_NHAN_VIEN]
AS
	SELECT NV.MANV, HOTEN, SDT, CHUCVU, KHOA AS TAIKHOAN FROM NHANVIEN NV LEFT JOIN TAIKHOAN TK
	ON NV.MANV = TK.TENDANGNHAP

GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH]) VALUES (N'DV00000003', N'Gói tập 1 tháng', 30, 300000.0000, 1)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH]) VALUES (N'DV00000004', N'Gói tập 365 ngày', 365, 3400000.0000, 0)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA], [HIENHANH]) VALUES (N'DV00000007', N'Gói tập 6 tháng', 180, 1700000.0000, 1)
SET IDENTITY_INSERT [dbo].[INBODY] ON 

INSERT [dbo].[INBODY] ([STT], [CHIEUCAO], [CANNANG], [TILE_NUOC], [TILE_MO], [KHOILUONG_CO], [MAKH], [NGAYGIO]) VALUES (5, 176, 56, 312, 312, 21, N'KH00000005', CAST(N'2022-11-19 18:12:44.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[INBODY] OFF
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH]) VALUES (N'KH00000001', N'Nguyễn Thị Yến Vy', N'Nữ', N'2001 ', N'012345678 ', CAST(N'2022-11-19' AS Date), N'test                                                                                                                                                                                                    ')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH]) VALUES (N'KH00000002', N'Vũ Việt Trường', N'Nam', N'2001 ', N'012345678 ', CAST(N'2022-11-19' AS Date), N'test                                                                                                                                                                                                    ')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [GIOITINH], [NAMSINH], [SDT], [NGAYTHAMGIA], [HINHANH]) VALUES (N'KH00000003', N'Nguyễn Thành Tân', N'Nam', N'2015 ', N'03199399  ', CAST(N'2022-11-19' AS Date), N'esssss                                                                                                                                                                                                  ')
SET IDENTITY_INSERT [dbo].[LICHSUVAOPHONG] ON 

INSERT [dbo].[LICHSUVAOPHONG] ([STT], [NGAYGIO], [MAPDK]) VALUES (5, CAST(N'2022-11-27 09:16:20.490' AS DateTime), N'PDK0000001')
INSERT [dbo].[LICHSUVAOPHONG] ([STT], [NGAYGIO], [MAPDK]) VALUES (7, CAST(N'2022-11-26 00:00:00.000' AS DateTime), N'PDK0000001')
SET IDENTITY_INSERT [dbo].[LICHSUVAOPHONG] OFF
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CHUCVU]) VALUES (N'NV00000001', N'Nguyễn Thị Yến Vy', N'0392395607', N'QUANLY              ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CHUCVU]) VALUES (N'NV00000002', N'Vũ Việt Trường', N'039999990 ', N'QUANLY              ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CHUCVU]) VALUES (N'NV00000003', N'Bùi Tuấn Hùng', N'039999t9  ', N'TIEPTAN             ')
INSERT [dbo].[PHIEUDANGKY] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY]) VALUES (N'PDK0000001', CAST(N'2022-10-20' AS Date), CAST(N'2022-11-20' AS Date), CAST(N'2022-12-20' AS Date), 10, 300000.0000, N'Đã kích hoạt', N'KH00000005', N'NV00000001', N'DV00000003', NULL)
INSERT [dbo].[PHIEUDANGKY] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY]) VALUES (N'PDK0000002', CAST(N'2022-11-19' AS Date), CAST(N'2022-11-19' AS Date), CAST(N'2022-12-19' AS Date), 10, 300000.0000, N'Đã kích hoạt', N'KH00000005', N'NV00000001', N'DV00000003', NULL)
INSERT [dbo].[PHIEUDANGKY] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TILEKM], [TONGTIEN], [TRANGTHAI], [MAKH], [MANVLAP], [MADV], [MANVHUY]) VALUES (N'PDK0000003', CAST(N'2022-11-20' AS Date), NULL, NULL, 10, 300000.0000, N'Đã hủy', N'KH00000005', N'NV00000002', N'DV00000004', N'NV00000002')
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV]) VALUES (N'PTT0000001', 300000.0000, CAST(N'2022-10-20' AS Date), N'PDK0000001', N'NV00000001')
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV]) VALUES (N'PTT0000002', 300000.0000, CAST(N'2022-11-20' AS Date), N'PDK0000001', N'NV00000001')
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [SOTIENTHU], [NGAYTHU], [MAPDK], [MANV]) VALUES (N'PTT0000003', 300000.0000, CAST(N'2022-11-20' AS Date), N'PDK0000004', N'NV00000001')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [KHOA]) VALUES (N'NV00000001', N'123456    ', 0)
ALTER TABLE [dbo].[INBODY]  WITH CHECK ADD  CONSTRAINT [FK_INBODY_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[INBODY] CHECK CONSTRAINT [FK_INBODY_KHACHHANG]
GO
ALTER TABLE [dbo].[LICHSUVAOPHONG]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUVAOPHONG_PHIEUDANGKY] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUVAOPHONG] CHECK CONSTRAINT [FK_LICHSUVAOPHONG_PHIEUDANGKY]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_DICHVU]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN] FOREIGN KEY([MANVLAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN1] FOREIGN KEY([MANVHUY])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PHIEUDANGKY_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDANGKY] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDANGKY]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_NAMSINH] CHECK  (((CONVERT([int],[NAMSINH])+(6))<CONVERT([int],datepart(year,getdate()))))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_NAMSINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_CHUCVU] CHECK  (([CHUCVU]='TIEPTAN' OR [CHUCVU]='QUANLY'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_NGAYBD] CHECK  (([NGAYBD]>=[NGAYDK]))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_NGAYBD]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_NGAYKT] CHECK  (([NGAYKT]>[NGAYBD]))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_NGAYKT]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TILEKM] CHECK  (([TILEKM]>=(0) AND [TILEKM]<=(100)))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TILEKM]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TONGTIEN]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Chờ kích hoạt' OR [TRANGTHAI]=N'Đã kích hoạt' OR [TRANGTHAI]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CK_TRANGTHAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_DICH_VU]
	@MADV CHAR(10),
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0
	ELSE 
		UPDATE DICHVU
		SET TENDV = @TENDV, SONGAYSUDUNG = @SONGAYSUDUNG, GIA = @GIA, HIENHANH = @HIENHANH WHERE MADV = @MADV
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_KHACH_HANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_KHACH_HANG]
	@MAKH CHAR(10),
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		UPDATE KHACHHANG
		SET HOTEN = @HOTEN, GIOITINH = @GIOITINH, NAMSINH = @NAMSINH, SDT = @SDT, HINHANH = @HINHANH
		WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_NHAN_VIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_NHAN_VIEN]
	@MANV CHAR(10),
	@HOTEN NVARCHAR(50),
	@SDT CHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	UPDATE NHANVIEN
	SET HOTEN = @HOTEN, SDT = @SDT, CHUCVU = @CHUCVU
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAP_NHAT_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@TILEKM INT,
	@MADV CHAR(10),
	@TONGTIEN MONEY
AS
BEGIN
	UPDATE PHIEUDANGKY
	SET TILEKM = @TILEKM, MADV = @MADV, TONGTIEN = @TONGTIEN
	WHERE MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHI_TIET_LICH_SU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHI_TIET_LICH_SU]
	@STT INT
AS
BEGIN
	SELECT KH.MAKH, HOTEN, NGAYTHAMGIA, HINHANH, PDK.MAPDK, TENDV, NGAYKT 
	FROM LICHSUVAOPHONG LS, PHIEUDANGKY PDK, KHACHHANG KH, DICHVU DV
	WHERE LS.MAPDK = PDK.MAPDK AND PDK.MADV = DV.MADV 
	AND PDK.MAKH = KH.MAKH AND STT = @STT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANG_KY_DICH_VU]
	@TILEKM INT,
	@TONGTIEN MONEY,
	@MAKH CHAR(10),
	@MANVLAP CHAR(10),
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH FROM PHIEUDANGKY WHERE MAKH = @MAKH AND (TRANGTHAI = N'Chờ kích hoạt' OR TRANGTHAI = N'Đã kích hoạt'))
		RETURN 0
	ELSE
		INSERT INTO PHIEUDANGKY (TILEKM, TONGTIEN, MAKH, MANVLAP, MADV)
		VALUES (@TILEKM, @TONGTIEN, @MAKH, @MANVLAP, @MADV)
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_PHIEU_DANG_KY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HUY_PHIEU_DANG_KY]
	@MAPDK CHAR(10),
	@MANVHUY CHAR(10)
AS
BEGIN
	DECLARE @TRANGTHAI NVARCHAR(20)
	SELECT @TRANGTHAI = TRANGTHAI FROM PHIEUDANGKY WHERE MAPDK = @MAPDK
	IF @TRANGTHAI = N'Chờ kích hoạt'
		BEGIN
			UPDATE PHIEUDANGKY
			SET TRANGTHAI = N'Đã hủy',
			MANVHUY = @MANVHUY
			WHERE MAPDK = @MAPDK
			RETURN 1
		END
	ELSE 
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_DICH_VU]
	@TENDV NVARCHAR(50),
	@SONGAYSUDUNG INT,
	@GIA MONEY,
	@HIENHANH BIT
AS
BEGIN
	INSERT INTO DICHVU (TENDV, SONGAYSUDUNG, GIA, HIENHANH)
	VALUES (@TENDV, @SONGAYSUDUNG, @GIA, @HIENHANH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_KHACH_HANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_KHACH_HANG]
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NAMSINH VARCHAR(5),
	@SDT VARCHAR(10),
	@HINHANH CHAR(200)
AS
BEGIN
	IF @SDT LIKE '%[^0-9]%' OR LEFT(@SDT, 1) != '0' OR LEN(@SDT) < 9
		RETURN 1
	IF @NAMSINH LIKE '%[^0-9]%'
		RETURN 2
	ELSE
		INSERT INTO KHACHHANG (HOTEN, GIOITINH, NAMSINH, SDT, HINHANH)
		VALUES (@HOTEN, @GIOITINH, @NAMSINH, @SDT, @HINHANH)
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHAN_VIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHAN_VIEN]
	@HOTEN NVARCHAR(50),
	@SDT VARCHAR(10),
	@CHUCVU CHAR(20)
AS
BEGIN
	IF @SDT NOT LIKE '%[^0-9]%' AND LEFT(@SDT, 1) = '0' AND (LEN(@SDT) = 9 OR LEN(@SDT) = 10)
		BEGIN
		IF @CHUCVU = ''
			INSERT INTO NHANVIEN (HOTEN, SDT)
			VALUES (@HOTEN, @SDT)
		ELSE
			INSERT INTO NHANVIEN (HOTEN, SDT, CHUCVU)
			VALUES (@HOTEN, @SDT, @CHUCVU)
		RETURN 1
		END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_PHIEU_THU_TIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHIEU_THU_TIEN]
	@SOTIENTHU MONEY,
	@MAPDK CHAR(10),
	@MANV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MAPDK = @MAPDK AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Đã hủy'))
		RETURN 0
	ELSE
		INSERT INTO PHIEUTHUTIEN (SOTIENTHU, MAPDK, MANV)
		VALUES (@SOTIENTHU, @MAPDK, @MANV)
		RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_DOANH_THU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_DOANH_THU]
	@TUNGAY DATE,
	@DENNGAY DATE
AS
BEGIN
	IF @TUNGAY = '' AND @DENNGAY = ''
	BEGIN
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU)
		FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH
		GROUP BY KH.MAKH, HOTEN, SDT
	END
	ELSE IF @TUNGAY != '' AND @DENNGAY != ''
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU)
		FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU >= @TUNGAY AND NGAYTHU <= @DENNGAY
		GROUP BY KH.MAKH, HOTEN, SDT
	ELSE IF @TUNGAY != ''
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU)
		FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU >= @TUNGAY
		GROUP BY KH.MAKH, HOTEN, SDT 
	ELSE
		SELECT KH.MAKH, HOTEN, SDT, SUM(PTT.SOTIENTHU)
		FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
		WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH AND NGAYTHU <= @DENNGAY
		GROUP BY KH.MAKH, HOTEN, SDT 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_KH]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_KH]
AS
BEGIN
	DECLARE @TONGKHCU INT, @TONGKHMOI INT, @TONGKH INT, @TUOI1 INT, @TUOI2 INT, @TUOI3 INT, @NAM NVARCHAR(5), @NU NVARCHAR(5)
	SET @TONGKH = (SELECT COUNT(*) FROM KHACHHANG)
	SET @TONGKHCU = (SELECT COUNT(DISTINCT(KH.MAKH)) AS TONGKHCU
					FROM PHIEUTHUTIEN PTT, PHIEUDANGKY PDK, KHACHHANG KH
					WHERE PTT.MAPDK = PDK.MAPDK AND PDK.MAKH = KH.MAKH
					GROUP BY KH.MAKH
					HAVING COUNT(KH.MAKH) >= 2)
	SET @TUOI1 = (SELECT COUNT(*) FROM KHACHHANG WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) > 6 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) <= 14)
	SET @TUOI2 = (SELECT COUNT(*) FROM KHACHHANG WHERE DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) > 14 AND DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) < 24)
	SET @TUOI3 = @TONGKH - (@TUOI1 + @TUOI2)
	SET @NAM = (SELECT COUNT(*) FROM KHACHHANG WHERE GIOITINH = 'Nam')
	SET @NU = @TONGKH - @NAM
	SET @TONGKHMOI = @TONGKH - @TONGKHCU
	SELECT @TONGKH AS TONGKH, @TONGKHCU AS TONGKHCU, @TONGKHMOI AS TONGKHMOI,
	@TUOI1 AS '6-14', @TUOI2 AS '15-14', @TUOI3 AS '> 24', @NAM AS NAM, @NU AS NU
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_DICH_VU]
	@TENDV NVARCHAR(50)
AS
BEGIN
	SELECT * FROM DICHVU WHERE TENDV LIKE '%' + @TENDV + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_KHACH_HANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_KHACH_HANG]
	@HOTEN NVARCHAR(50) 
AS
BEGIN
	SELECT MAKH, HOTEN, GIOITINH, NAMSINH, NGAYTHAMGIA FROM KHACHHANG WHERE HOTEN LIKE '%' + @HOTEN + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_NHAN_VIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_NHAN_VIEN]
	@HOTEN NVARCHAR(50) 
AS
BEGIN
	SELECT NV.MANV, NV.HOTEN, NV.SDT, NV.CHUCVU, TK.KHOA AS TAIKHOAN
	FROM     dbo.NHANVIEN AS NV LEFT OUTER JOIN
                  dbo.TAIKHOAN AS TK ON NV.MANV = TK.TENDANGNHAP WHERE HOTEN LIKE '%' + @HOTEN + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_KIEM_PHIEU_DANG_KY]
	@MAPDK CHAR(10)
AS
BEGIN
	SELECT DV.MAPDK, KH.MAKH, KH.HOTEN, KH.SDT, DV.TENDV, DV.NGAYDK, DV.NGAYBD, DV.NGAYKT, DV.TRANGTHAI, DV.TONGTIEN
	FROM (SELECT PDK.MAPDK, DV.TENDV, PDK.NGAYBD, PDK.NGAYDK, PDK.NGAYKT, PDK.TONGTIEN, PDK.TRANGTHAI
           FROM dbo.PHIEUDANGKY AS PDK INNER JOIN dbo.DICHVU AS DV ON PDK.MADV = DV.MADV) AS DV INNER JOIN
           (SELECT PDK.MAPDK, KH.MAKH, KH.HOTEN, KH.SDT FROM dbo.PHIEUDANGKY AS PDK INNER JOIN
           dbo.KHACHHANG AS KH ON PDK.MAKH = KH.MAKH) AS KH ON DV.MAPDK = KH.MAPDK 
		   WHERE DV.MAPDK LIKE N'%'+@MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_KHACH_HANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT * FROM KHACHHANG WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_DANG_KY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_DANG_KY]
	@MAPDK CHAR(10)
AS
BEGIN
	SELECT MAPDK, HOTEN, HINHANH FROM KHACHHANG KH, PHIEUDANGKY PDK WHERE KH.MAKH = PDK.MAKH AND PDK.MAPDK = @MAPDK
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_PHIEU_THU_TIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XEM_PHIEU_THU_TIEN]
	@MAPDK CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPTT FROM PHIEUTHUTIEN WHERE MAPDK = @MAPDK)
		BEGIN
			SELECT MAPTT, NGAYTHU, HOTENKH, HOTENNV, MAPDK = @MAPDK, TENDV, SOTIENTHU
			FROM (SELECT MAPTT, SOTIENTHU, NGAYTHU, NV.HOTEN AS HOTENNV, MAPDK FROM PHIEUTHUTIEN PTT, NHANVIEN NV 
				WHERE MAPDK = @MAPDK AND PTT.MANV = NV.MANV) PTT,
				(SELECT TENDV, MAPDK FROM DICHVU DV, PHIEUDANGKY PDK WHERE PDK.MADV = DV.MADV) DV,
				(SELECT HOTEN AS HOTENKH, MAPDK FROM PHIEUDANGKY PDK, KHACHHANG KH WHERE KH.MAKH = PDK.MAKH) KH
				WHERE PTT.MAPDK = DV.MAPDK AND PTT.MAPDK = KH.MAPDK
			RETURN 1
		END
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DICH_VU]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DICH_VU]
	@MADV CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND (TRANGTHAI = N'Đã kích hoạt' OR TRANGTHAI = N'Chờ kích hoạt'))
		RETURN 0 
	ELSE
		IF EXISTS (SELECT MAPDK FROM PHIEUDANGKY WHERE MADV = @MADV AND TRANGTHAI = N'Đã hủy')
			BEGIN
				UPDATE DICHVU
				SET HIENHANH = 0 WHERE MADV = @MADV
				RETURN 1
			END
		ELSE
			DELETE DICHVU WHERE MADV = @MADV
			RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KHACH_HANG]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_KHACH_HANG]
	@MAKH CHAR(10)
AS
BEGIN
	IF EXISTS (SELECT MAKH FROM PHIEUDANGKY WHERE MAKH = @MAKH)
		RAISERROR(N'Có dữ liệu đăng ký dịch vụ từ khách hàng. Không thể xóa !!!', 16, 1)
	ELSE
		DELETE KHACHHANG
		WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHAN_VIEN]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_NHAN_VIEN]
	@MANV CHAR(10)
AS
BEGIN
	IF (SELECT COUNT(MAPDK) FROM PHIEUDANGKY WHERE MANVLAP = @MANV OR MANVHUY = @MANV) > 0 
	OR (SELECT COUNT(MAPTT) FROM PHIEUTHUTIEN WHERE MANV = @MANV) > 0
		UPDATE TAIKHOAN
		SET KHOA = 1
		WHERE TENDANGNHAP = @MANV
	ELSE
		DELETE TAIKHOAN
		WHERE TENDANGNHAP = @MANV

		DELETE NHANVIEN
		WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[XEM_CHI_SO_INBODY]    Script Date: 11/27/2022 3:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_CHI_SO_INBODY]
	@MAKH CHAR(10)
AS
BEGIN
	SELECT KH.MAKH, HOTEN, GIOITINH, DATEPART(YEAR, GETDATE()) - CONVERT(INT, NAMSINH) AS TUOI,
	NGAYGIO, CHIEUCAO, CANNANG, TILE_NUOC, TILE_MO, KHOILUONG_CO, CAST((CANNANG / ((CHIEUCAO*CHIEUCAO) / (100*100))) as float) as BMI FROM KHACHHANG KH, INBODY IBD
	WHERE KH.MAKH = @MAKH AND KH.MAKH = IBD.MAKH
END
GO
USE [master]
GO
